In [1]:
import random
import numpy as np

class People:
    def __init__(self, name, id_num, phone_num, email, gender, address, city, zip_code, state):
        self.name = name
        self.id_num = id_num
        self.phone_num = phone_num
        self.email = email
        self.gender = gender
        self.address = address
        self.city = city
        self.zip_code = zip_code
        self.state = state

people_list = []


# generate unique random values for each variable
names = random.sample(['Person' + str(i) for i in range(100000)], 100000)
id_num = random.sample(range(1000000, 10000000), 100000)
phone_nums = random.sample(range(1000000000, 10000000000), 100000)
emails = [name + '@example.com' for name in names]
addresses = random.sample([str(i) + ' Example St' for i in range(1, 100001)], 100000)
genders = random.sample(['Male', 'Female', 'Non-binary', 'Transgender - presents male', 'Transgender - presents female', 'Other'], 6)

city_zip = {'Missoula': 59808, 'Butte': 59701, 'Anaconda': 59711, 'Great Falls': 59405, 'Bozeman': 59715, 'Belgrade' : 59714, 'Billings': 59102}


state = 'MT'


for i in range(100000):
    if i%6==0:
        gender = 'Male'
    elif i%6==1:
        gender = 'Female'
    elif i%6==2:
        gender = 'Non-binary'
    elif i%6==3:
        gender = 'Transgender - presents male'
    elif i%6==4:
        gender = 'Transgender - presents female'
    else:
        gender = 'Other'

    city = random.choice(list(city_zip.keys()))
    city_zip_code = city_zip[city]

    people_list.append(People(names[i], id_num[i], phone_nums[i], emails[i], gender, addresses[i], city, city_zip_code, state))



# Print the first element as an example
print(people_list[0].name)
print("People ID#: " + str(people_list[0].id_num))
print(people_list[0].phone_num)
print(people_list[0].email)
print(people_list[0].gender)
print(people_list[0].address)
print(people_list[0].city, people_list[0].zip_code)
print(people_list[0].state)

Person17672
People ID#: 5038352
4638992319
Person17672@example.com
Male
96790 Example St
Bozeman 59715
MT

# turn the list into a dataframe

In [2]:
import pandas as pd

people_data = [person.__dict__ for person in people_list]

people_df = pd.DataFrame(people_data)

In [3]:
people_df.head()

,name,id_num,phone_num,email,gender,address,city,zip_code,state
0,Person17672,5038352,4638992319,Person17672@example.com,Male,96790 Example St,Bozeman,59715,MT
1,Person27698,7214160,7340982266,Person27698@example.com,Female,12507 Example St,Butte,59701,MT
2,Person36057,5956127,6204749438,Person36057@example.com,Non-binary,40591 Example St,Bozeman,59715,MT
3,Person73082,1407026,8965324079,Person73082@example.com,Transgender - presents male,75811 Example St,Butte,59701,MT
4,Person99056,2009008,8344460603,Person99056@example.com,Transgender - presents female,44813 Example St,Great Falls,59405,MT

# generate claims dataframe

In [4]:
import numpy as np

class Claim:
    def init(self, id_num ,claim_id_num, event, rate, is_paid, claim_submitted, vendor):
        self.people_id_num = id_num
        self.claim_id_num = claim_id_num
        self.event = event
        self.rate = rate
        self.is_paid = is_paid
        self.claim_submitted = claim_submitted
        self.vendor = vendor

claim_list = []

vendors = ['Medicaid', 'Medicare', 'Self', 'Champus', 'Tricare', 'Veteran']

event_rates = {'Individual Psychotherapy' : 100, 'Group Psychotherapy': 200, 'Diagnostic Evaluation': 210, 'Medication Consultation': 150, 'EM Service': 125, 'Treatment Plan Event': 135,
'SUD Assessment': 140, 'Med Mangement': 115, 'Counseling Session': 175, 'Crisis Emergency': 300}

id_num = np.repeat(people_df['id_num'].to_numpy(), 10)
id_num = np.random.permutation(id_num)
id_num = id_num[:1000000]
claim_id_num = np.arange(1, 1000001)
event = np.random.choice(list(event_rates.keys()), 1000000)
rate = np.array([event_rates[ev] for ev in event])
is_paid = np.random.choice([True, False], 1000000)
claim_submitted = np.random.choice([True, False], 1000000)
vendor = np.random.choice(vendors, 1000000)

In [5]:
claim_data = {'id_num': id_num, 'claim_id_num': claim_id_num, 'event': event, 'rate': rate,
'is_paid': is_paid, 'claim_submitted': claim_submitted, 'vendor': vendor}

In [6]:
claims_df = pd.DataFrame(claim_data)

In [7]:
claims_df.head(
)

,id_num,claim_id_num,event,rate,is_paid,claim_submitted,vendor
0,8505910,1,Crisis Emergency,300,False,True,Veteran
1,3214705,2,Medication Consultation,150,False,True,Veteran
2,2745121,3,SUD Assessment,140,True,True,Tricare
3,7492682,4,Group Psychotherapy,200,False,False,Medicaid
4,1769107,5,SUD Assessment,140,False,True,Medicaid

In [8]:
claims_df.id_num.nunique()

100000

In [9]:
people_df.id_num.nunique()

100000

In [10]:
result = pd.merge(claims_df, people_df, on='id_num')

In [11]:
result.head()

,id_num,claim_id_num,event,rate,is_paid,claim_submitted,vendor,name,phone_num,email,gender,address,city,zip_code,state
0,8505910,1,Crisis Emergency,300,False,True,Veteran,Person96186,6062593809,Person96186@example.com,Male,54764 Example St,Missoula,59808,MT
1,8505910,46968,Treatment Plan Event,135,False,True,Self,Person96186,6062593809,Person96186@example.com,Male,54764 Example St,Missoula,59808,MT
2,8505910,213021,Med Mangement,115,True,False,Medicaid,Person96186,6062593809,Person96186@example.com,Male,54764 Example St,Missoula,59808,MT
3,8505910,273605,EM Service,125,False,True,Self,Person96186,6062593809,Person96186@example.com,Male,54764 Example St,Missoula,59808,MT
4,8505910,421077,Med Mangement,115,True,False,Medicare,Person96186,6062593809,Person96186@example.com,Male,54764 Example St,Missoula,59808,MT

In [12]:
filtered_df = result[result['id_num'] == 1508091]

filtered_df

Empty DataFrame
Columns: [id_num, claim_id_num, event, rate, is_paid, claim_submitted, vendor, name, phone_num, email, gender, address, city, zip_code, state]
Index: []

In [31]:
result['claim_submitted'] = np.where(result['is_paid'], True, result['claim_submitted'])

In [32]:
pd.options.display.max_columns = None

In [33]:
df = pd.DataFrame(result)

In [38]:
df.to_excel(r'C:\Users\wbouley\Desktop\Portfolio\Projects\database_build.xlsx')

In [43]:
df2 = df[df['city'] == 'Belgrade']

In [44]:
df2.shape

(142000, 15)